.about_container {
    display: grid;
    padding: 0 32px 0 32px;
    grid-template-columns: 5fr 2fr 5fr;
    grid-template-rows: 1fr;
    justify-items: center;
    margin-top: 50px;
    align-items: center;
}

.about_container img {
    position: absolute;
    max-width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.about__img_container {
    position: relative;
    grid-column: 3 / 3;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 120%;
}

.top_img {
    object-position: 80% 0;
    transform: translate(-25px, -50px)
}

.bottom_img {
    transform: translate(170px, 50px);
    object-position: 30% 0;
}