.footerlist {
    list-style-type: none;
    padding-top: 8px;
}

.footerlist > li:hover {
    text-decoration: underline;
}

.footer_container > img {
}

.footerlist > li {
    padding: 2px;
}

.footerlist > li > a {
    color: var(--secondary-grey);
}

.footer__container {
    display: flex;
    justify-content: space-around;
    margin: 64px 0 48px 0;

}

