.landing__main img {
    object-fit: cover;
    width: 300px;
    margin-bottom: -50%;
    border-radius: 8px;
    transform: translate(0, 8px);
}

.landing__main > .row {
    padding-top: 48px;
    padding-bottom: 48px;
}

.backdrop {
    background-color: var(--primary-green);
    width: 100vw;
    display: flex;
    justify-content: center;
}

.landing__main h1 {
    color: var(--primary-yellow);
}

.landing__main h3, p {
    color: var(--secondary-white);
}

.landing__main p {
    padding: 64px 0 32px 0;
    max-width: 80%;
}