#nav_bar > .row {
    height: 125px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 8fr;
    column-gap: 10%;
    align-items: center;
    justify-content: space-between;
}

#nav_bar ul{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    list-style-type: none;
}

#nav_bar li {
    padding-left: 0px;
}

#nav_bar li:hover {
    text-decoration: underline;
    text-decoration-skip: yes;
}

.link {
    text-decoration: none;
    color: var(--primary-green);
}

#nav_bar img {
    max-width: 260px;
}