@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-pink: #ee9972;
  --secondary-pink2: #fbdabb;
  --secondary-white: #edefee;
  --secondary-grey: #333;
}

.app__main {
  display: flex;
  justify-content: center;
}

.app__container {
  width: 100%;
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__container {
  position: relative;
  overflow: visible;
  max-width: 1000px;
  width: 100%;
}

.displaytitle {
  font-size: 64px;
  font-weight: 500;
  font-family: 'Markazi Text', serif;
}

.subtitle {
  font-size: 40px;
  font-weight: 400;
  font-family: 'Markazi Text', serif;
}

.leadtext {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Karla', sans-serif;
}

.sectiontitle {
  font-size: 20px;
  font-weight: 900;
  font-family: 'Karla', sans-serif;
}

.cardtitle {
  font-size: 18px;
  font-weight: 800;
  font-family: 'Karla', sans-serif;
}

.paragraphtext {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Karla', sans-serif;
}

.highlighttext {
  font-size: 16px;
  font-weight: 500;
  font-family: 'Karla', sans-serif;
}

.sectioncatagory {
  font-size: 16px;
  font-weight: 900;
  font-family: 'Karla', sans-serif;
}